# Diretórios
node_modules/

# Arquivos de logs
npm-debug.log
yarn-error.log

# Arquivos de ambiente
.env

# Arquivos gerados durante a construção
/build
/dist
/out

# Outros arquivos e diretórios gerados
.DS_Store
.cache
